{% extends "admin/admin_dashboard.html" %}

{% block content %}
<h2>List of Approved Shopkeepers</h2><br>
<div class="container">
    {% if shopkeepers %}
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Registration Date</th>
                </tr>
            </thead>
            <tbody>
                {% for shopkeeper in shopkeepers %}
                <tr>
                    <td>{{ shopkeeper.id }}</td>
                    <td>{{ shopkeeper.username }}</td>
                    <td>{{ shopkeeper.email }}</td>
                    <td>
                        {% if shopkeeper.registration_date %}
                            {{ shopkeeper.registration_date.strftime('%Y-%m-%d') }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No approved shopkeepers found.</p>
    {% endif %}
</div>
{% endblock %}
