<div class="footer">
    <div class="footerlogo">BUY DIRECT</div>
    <a href="{{ url_for('shopkeeper_bp.login_shopkeeper') }}">Become A Seller</a>
    <a href="/">Home</a>
    <div>&copy; 2024 BuyDirect. All rights reserved.</div>
  </div>
  <style>
        .footer {
      text-align: center;
      color: #000000;
      font-size: 14px;
      padding: 20px;
      background-color: rgba(128, 127, 126, 0.151); /* Transparent background */
      width: 100%;
      position: fixed;
      bottom: 0;
      margin-left: -130px;
    }

    .footer a {
      color: #000000;
      text-decoration: none;
      padding: 0 10px;
    }

    .footer a:hover {
      color: #fff;
    }
  </style>