<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to BuyDirect!</title>
    <!-- Local Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style>
        body {
            background-color: #007cf8; /* Light grey background color */
        }
    </style>
</head>
<body>
    <div class="container">
        {% include 'navbar.html' %}
        
        <!-- Main content here -->
    
        <!-- Include other sections -->
        {% include 'section.html' %}
        {% include 'core_categories.html' %}

        {% include 'topstore.html' %}

        {% include 'index.html' %}
        
        {% include 'footer.html' %}
    

    <!-- Local JS and dependencies -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
